<div class="table_content">
  <div class="sort">
    <label for="">Trier</label>
    <select name="" id="">
      <option value=""></option>
      <option value=""></option>
    </select>
  </div>
  <div class="table" id="equipe_container">
    <table id="liste_membre">
      <caption>
        Liste des Membres de l'EMITDANCE
      </caption>
      <thead>
        <th>Nom</th>
        <th>Parcours</th>
        <th>Date de Naissance</th>
        <th>Genre</th>
        <th>Equipe</th>
        <th>Types de danses</th>
        <th>Devise</th>
        <th>Note de sélection</th>
        <th>Couple</th>
        <th>Moderne</th>
        <th>Traditionelle</th>
      </thead>
      <tbody>
        <tr>
          <td>Hasa Fitahiana</td>
          <td>DAII L1</td>
          <td>10/10/2005</td>
          <td>Homme</td>
          <td>Crew</td>
          <td>Urbaine</td>
          <td id="devise">
            "Dancing is the best hobby and sport which improve our mindset"
          </td>
          <td>22.7</td>
          <td>25%</td>
          <td>50%</td>
          <td>25%</td>
          <td>
            <div class="button">
                 <button><i class="fa-solid fa-pen"></i></button>
            <button><i class="fa-solid fa-trash"></i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
