<section>
  <!-- Barre de navigation -->
  <div class="navbar">
    <div class="logo_content">
      <img src="assets/images/logo.jpg" alt="" />
    </div>
    <div class="navbar_content">
      <div class="list_content">
        <ul>
          <li>
            <i class="fa-solid fa-chart-line"></i>
            <a href="/dashboard">Dashboard</a>
          </li>
          <li>
            <i class="fa-solid fa-user-group"></i>
            <a href="/equipes">Equipes</a>
          </li>
          <li>
            <i class="fa-solid fa-box-archive"></i>
            <a href="archives.html">Archives</a>
          </li>
        </ul>
        <div class="footer">
          <button id="logout">
            <i class="fa-solid fa-right-from-bracket"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
