<div class="template">
  <div id="navbar">
    <app-navbar></app-navbar>
  </div>
  <!-- Contenu de la page -->
  <div class="team_content">
    <!-- Première partie -->
    <div class="header">
      <div class="title_page">
        <p>Membres de l'équipe</p>
      </div>
      <div class="options">
        <select name="equipe" id="equipe">
          <option value="crew">crew</option>
          <option value="classe">classe</option>
        </select>
      </div>
      <div class="user_content">
        <i class="fa-solid fa-bell"></i>
        <img src="/assets/images/frydman.jpg" alt="" />
      </div>
    </div>
    <!-- Deuxième partie -->
    <div class="equipe_content">
      <div class="list_equipe">
        <div class="label_content">
          <p id="label"></p>
        </div>
        <div class="search_content">
          <i class="fa-solid fa-magnifying-glass"></i
          ><input type="text" id="search" name="search" />
        </div>
      </div>
      <!-- Troisième partie -->
      <div class="unique_list">
        <!-- Description du membre -->
        <div class="person_content">
          <div class="photo_content">
            <img src="/assets/images/fita_v.jpg" alt="" />
          </div>
          <div class="desc_content">
            <p>
              "J'ai trouvé dans la danse l'harmonie entre la musique et le
              mouvement. C'est une passion qui m'élève à chaque pas"
            </p>
          </div>
        </div>
        <!-- Détails du membre -->
        <div class="member_details">
          <div class="details_content">
            <div class="basic_info">
              <h5>Basic Details</h5>
              <br />
              <p id="name">MANANDROMALAZA Fitahiana Myriah</p>
              <p id="classe">DAII L2 / Crew 2022</p>
              <p id="dob">25 Février 2005</p>
              <p id="sexe">Femme</p>
            </div>
            <div class="gender_content">
              <h5>Type de danse</h5>
              <br />
              <ul>
                <li>Danse de couple</li>
                <li>Danse moderne</li>
                <li>Danse traditionnelle</li>
              </ul>
            </div>
            <div class="note">
              <h5>Note</h5>
              <br />
              <p>21.9/40</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
