.template {
  display: flex;
  overflow: hidden;
  width: 100%;
  .navbar {
    width: 25%;
  }
  .content {
    .board_content {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 7.5px;
      .tableboard {
        float: left;
        width: 250px;
        background-color: var(--gris);
        height: 50px;
        border-radius: 10px;
        ul {
          display: flex;
          align-items: center;
          justify-content: center;
          list-style-type: none;
          margin-top: 15px;
          color: var(--sombre);
        }
      }
      .form_button {
        float: right;
        margin-right: 5px;
        .dropdown {
          display: flex;
          .ic {
            width: 30px;
            height: 30px;
            margin: 5px;
            border-radius: 50%;
            border: 1px none;
            background-color: var(--turquoise);
            i {
              color: var(--sombre);
              font-size: 16px;
              padding-top: 7px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
        .menu_content {
          width: 100px;
          height: 75px;
          display: none;
          position: absolute;
          margin-left: -37px;
          margin-top: -3.6px;
          background-color: var(--turquoise);
          border-radius: 5px;
          a {
            text-decoration: none;
            border: none;
            width: 100px;
            height: 35px;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
          }
          a:hover {
            background-color: var(--bleu);
          }
        }
        .show {
          display: block;
        }
      }
    }
    .dashboard {
      display: flex;
      .agenda_content {
        width: 250px;
        height: 75vh;
        border: 1px solid var(--turquoise);
        margin-top: 25px;
        border-radius: 10px;
        h5 {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 5px;
          text-decoration: underline;
        }
      }
      .number_content {
        width: 910px;
        height: 15vh;
        margin-left: 25px;
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        .grid {
          background-color: var(--gris);
          width: 275px;
          border-radius: 10px;
        }
      }
    }
  }
}
