<div class="table_result">
  <div class="table_content">
    <table id="result_table">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Type de danse</th>
          <th>Niveau</th>
          <th>Créativité</th>
          <th>
            Précision <br />
            /Technique
          </th>
          <th>Energie</th>
          <th>Feeling</th>
          <th>Endurance</th>
          <th>Esthétique</th>
          <th>Expression Faciale</th>
          <th>Aisance</th>
          <th>Total</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Hasa Fitahiana</td>
          <td>Urbaine</td>
          <td>Bien</td>
          <td>3</td>
          <td>3</td>
          <td>2.7</td>
          <td>2.5</td>
          <td>3</td>
          <td>3</td>
          <td>3</td>
          <td>2.5</td>
          <td id="total">22.7</td>
          <td>
            <div class="button">
              <button><i class="fa-solid fa-pen"></i></button>
              <button><i class="fa-solid fa-trash"></i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
